<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Selpack.Testc1"/>
      <class name="Selpack.Testop2"/>
      <class name="Selpack.Testop3"/>
      <class name="Selpack.Testop4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
